.player-profile-container {
  text-align: center; /* Center the content inside the container */
}

/* Player details container */
.player-details {
  padding: 20px; 
  display: flex;
}

.stats-columns {
  display: flex;
  gap: 16px;
  text-align: center;
}

.stats-columns > div {
  flex: 1;
}
