.matches-container {
  display: flex;
  text-align: center;
}

.centered-text {
  text-align: center;
}

.match {
  margin-bottom: 20px;
}

.team {
  vertical-align: top;
  display: inline-block;
  margin: 0 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* Player info section */
.left-half-column {
  padding: 20px;
  width: 50%;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 1rem;
  box-shadow: 0px 4px 8px rgba(199, 197, 197, 0.1);
}  

th, td {
  padding: 12px 15px;
  text-align: left;
}  

th {
  background-color: #333;
  color: white;
  font-weight: bold;
}  

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table td {
  border-left: 1px solid #eeeeee;
}

.right-half-column {
  width: 50%;
  align-items: center;
  padding: 20px; /* Padding for spacing */
}

.max-w-600 {
  width: 100%;
  max-width: 600px;
}

.table-center-column {
  text-align: center;
}

table td:first-child {
  border-left: none;
}

.flex-center-container {
  display: flex;
  justify-content: center;
}

.stick {
  position: sticky;
  top: 150px;
  background-color: white; /* Optional: Set background color to avoid transparency issues */
  padding: 10px; /* Adjust as necessary */
}

.all-teams {
  justify-content: space-between;
  margin: 0px 10px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .player-details {
    flex-direction: column; /* Stack sections on mobile */
  }  

  .matches-container {
    flex-direction: column;
  }
  
  .left-half-column {
    border-right: none; /* Remove right border on mobile */
    width: 100%;
    padding: 0px;
  }  
  
  .right-half-column {
    padding: 0px;
    width: 100%; /* Full width on mobile */
    margin-top: 20px; /* Margin on top */
  }  
}  

